.container {
  margin: 16px auto;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeBtn {
  margin-bottom: 16px;
}
.twitCardList {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
