.upperCard {
  width: 380px;
  height: 214px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  background: linear-gradient(142deg, #471ca9 0%, #5736a3 69.1%, #4b2a99 100%);
  box-shadow: -2.5776965618133545px 6.873857021331787px 20.621572494506836px 0px
    rgba(0, 0, 0, 0.23);
}
.background {
  width: 308px;
  height: 168px;
  background: url(../../images/Background.png);
  background-color: inherit;
  background-repeat: no-repeat;
  margin: auto;
}

.upperCardImage {
  transform: translate(20px, 20px);
}
